<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- jQuery CDN -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

	<!-- boostrap cdn -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script rel="stylesheet" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- CSS -->
	<link rel="stylesheet" href="./css/signup.css">

	<title>Create Account</title>

</head>
<body>
<main>
	<div class="container mainContainer">

			<div class="col-sm-4 background" id="leftSide">
				
			</div>

			<div class="col-sm-4 form background" id="center">
				<h3>Create your account</h3>
				<p>will your team fight for justice? or will they wreak havoc on the world?</p>
				
				<% if (message.length > 0) { %>
    				<div class="alert alert-danger"><%= message %></div>
  			<% } %>

				<form id="signupForm" action="/signup" method="POST">
					<div class="form-group">
						<label for="email">Enter email</label>
						<input type="email" name="email" placeholder="email">
							<br>
						<label for="password">Create a password</label>
						<input type="password" name="password" placeholder="password">
							<br>
						<label for="favCharacter">Who is your favorite Marvel character?</label>
						<input type="text" name="favCharacter">
							<br>
						<label for="favSuperPower">If you could have one superpower, what would it be?</label>
						<input type="text" name="favSuperPower">
							<br>
						<button type="submit">Create Account and Log In</button>
					</div>
				</form>
			</div>
			
			<div class="col-sm-4 background" id="rightSide">
				
			</div>
	
	</div>

</main>	

</body>
</html>