<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- jQuery CDN -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<!-- JS -->
	<script type="text/javascript" src="/scripts/buildTeam.js"></script>
	
<!-- Bootstrap CDN's -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script rel="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- CSS -->
	<link rel="stylesheet" href="/css/teamPage.css">

	<title>Your Team</title>
	
</head>
<body>
<!-- nav bar -->
<nav class="navbar navbar-inverse">
	<div class="container-fluid">

		<div class="navbar-header">
			<a href="/teamPage" class="navbar-brand">
				<img class="icon" src="/images/shield.png" alt="">
			</a>
		</div>
		<div>
			<ul class="navbar-nav">
				<li class="active">
					<a href="/teamPage">Team Page</a>
				</li>
				<li>
					<a href="/logout">Log Out</a>
				</li>
			</ul>
		</div>

	</div>
</nav>

<!-- Display for Team -->
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				  <ol class="carousel-indicators">
				    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				  </ol>

				  <div class="carousel-inner">

					<div class="carousel-item item active team">
 				      <img class="d-block w-100" src="/images/cap.jpg" alt="First slide">
 				    </div>
 				    <div class="carousel-item item team">
 				      <img class="d-block w-100" src="/images/ironman.jpg" alt="Second slide">
 				    </div>
 				    <div class="carousel-item item team">
 				      <img class="d-block w-100" src="/images/redskull.jpg" alt="Third slide">
 				    </div>
 				    
				  </div>
				  
				  <a class="left carousel-control" href="#carouselExampleIndicators" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control" href="#carouselExampleIndicators" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
			</div>
		</div>
	</div>
</div>

<!-- Character search form -->
<div>
	<form class="teamMember" action="/search" method="GET">
		<label for="searchName">Search for Character</label>
			<input type="text" name="searchName">

		<button class="" type="submit">Search</button>
	</form>
</div>

<!-- Character selected modal -->
<div></div>



</body>
</html>

  



