body {
	background-color: black;
}

.mainContainer {
	padding-bottom: 80px;
	/*height: 80vh;*/
}

.formContainer {
	text-align: center;
}

form {
	padding-bottom: 60px;
}

input {
	width: 100%;
}

.form {
	background-color: yellow;
	padding-top: 80px;
	margin-top: 50px;
}

.footer {
	height: 20vh;
	background-color: red;
}

.marvel {
	margin-top: 10%;
	width: 50%;
	background-color: green;
}