body {
	background-image: url("../images/mainBackground.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.mainContainer {
	/*padding-bottom: 80px;*/
	height: 100vh;
	width: 100vw;
	margin-bottom: 10px;
}

.formContainer {
	text-align: center;
}

form {
	padding-bottom: 60px;
}

input {
	width: 100%;
	margin: 20px auto;
}

.form {
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 80px;
	margin-top: 50px;
}

.footer {
	position: relative;
	height: 20vh;
}

.marvel {
	position: absolute;
	top: 70%;
	background-color: green;
}